* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #f3feff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #231651;
}

body > div {
  /* border: 1px solid red; */
  width: 90vw;
}
